@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">List over food registration </h1>
</div>

<section class="category-slider">
    <!-- Carusell for categories, it is cooming here-->
    <div class="slider">
        <div class="slide">Fruit</div>
        <div class="slide">Vegetable</div>
        <div class="slide">Fast Food</div>
        <!--More categories will be added here when decided-->
    </div>
</section>

<form method="get" action="/">
    <div class="d-flex justify-content-center">
        <div class="input-group mb-3" style="max-width: 500px;">
            <input type="text" name="searching" class="form-control"
                placeholder="Search products using product name or ID" value=" @ViewData["Getproductlist"]"
                name="ProductSearch" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
            <div class="input-group-append" style="margin-left: 10px;">
                <button value="search" class="btn btn-primary" type="submit"
                    style="border-top-left-radius: 0; border-bottom-left-radius: 0;">Search</button>
            </div>
        </div>
    </div>
</form>



<div class="container-fluid">
    <partial name="_SearchResultPartial" />
</div>
