@using Food_Registration.Models
@model List<Product>

<h1>List Of Search Results</h1>

@foreach (var product in Model)
{
    <div>
        <h2>@product.Name</h2>
        <p>@product.ProductId</p>
    </div>
}